@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/components/boxes" as box;
@use "../../styles/components/buttons" as button;
@use "../../styles/mixins" as *;

@import "../Modals/FixedModal.module.scss";

.LoginForm {
  @include text-shadow;

  display: grid;
  grid-auto-rows: auto;
  row-gap: 0.5rem;
  grid-template-areas: 
    "input-fields"
    "options"
    "error-notification"
    "buttons";

  height: fit-content;

  margin: 0.5rem 1rem;

  .LoginFields {
    grid-area: input-fields;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 1rem;
    height: fit-content;

    .FormGroup {
      display: grid;
      grid-template-rows: max-content 1fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
        "input-label error-alert" 
        "input input";
      column-gap: 1rem;
      row-gap: 1rem;
      
      width: 100%;
      height: fit-content;

      label {
        @include font.info;
        grid-area: input-label;
        display: flex;
        text-align: start;
        justify-self: start;
      }

      span {
        @include font.info;
        grid-area: error-alert;
        display: flex;
        color: color.$accent2;
        justify-self: end;
        text-align: center;
      }
      
      input {
        @include box.light;
        grid-area: input;
      
        height: 0.8rem;
        width: 80%;
        place-self: center;
      }
    }
  }

  .Options {
    margin-top: 0.5rem;

    display: grid;
    grid-area: options;
    height: fit-content;

    grid-template-columns: 1fr 1fr;
    place-items: center;
    text-align: center;

    .RememberMe {
      // FIXME: position
      display: flex;
      place-self: start;
      
      label {
        @include font.main;
        text-align: center;
      }

      label:hover {
        color: color.$accent1;
        transition: color 0.4s;
      }
    }

    .ForgotPassword {
      @include hyperlink-behavior;
      display: flex;
      align-self: center;
      a {
        color: color.$light1;
      }
    }
  }

  .ErrorNotification {
    grid-area: "error-notification"
  }

  .Buttons {
    grid-area: buttons;
    margin-top: 4rem;

    display: grid;
    grid-auto-rows: max-content;
    row-gap: 0.5rem;
    place-items: center;

    .LoginButton {
      @include button-behavior;
      width: 100%;
      
      place-self: center;

      button {
        @include button.primary-light;
      }
    }
    
    .RegistrationButton {
      @include hyperlink-behavior;
      text-align: center;

      a {
        @include font.nav;
        color: color.$light1;
      }
    }
  }
}