@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

@import "../Modals/FixedModal.module.scss";

.LoginForm {
  @include text-shadow;
  @include button-behavior;

  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  row-gap: 1rem;
  grid-template-areas: "input-fields" "login-button" "redirections";
  height: auto;

  margin-top: 0.5rem;

  .LoginFields {
    display: grid;
    grid-auto-rows: 3rem;

    .FormGroup {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "label input";
      column-gap: 2rem;

      label {
        @include button-font;
        grid-area: label;

        text-align: start;
        text-justify: center;
        justify-self: start;
        align-self: center;
        height: max-content;
        width: max-content;
      }
      
      input {
        @include drop-shadow;
        $size: 60px;
        grid-area: input;
      
        display: flex;
      
        border: 2px solid color.$secondary;
        border-radius: 5px;
        height: 1.8rem;
        width: 100%;
        place-self: center;
        justify-content: flex-end;
      }
    }
  }

  .LoginButton {
    grid-area: login-button;
  }
  
  .Redirection {
    @include hyperlink-behavior;
    display: grid;
    grid-area: redirections;

    margin-top: 0.5rem;
    grid-auto-rows: max-content;
    row-gap: 0.5rem;

    text-align: center;
    text-justify: center;

    a {
      font-size: font.$size-1;
      color: color.$primary;
    }
  }
}