@use "../../../styles/mixins" as *;

// TODO: fix alignment of elements
.SliderInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "property-label value-box"
    "modifier modifier";
  column-gap: 5rem;
  
  label {
    @include text-shadow;
    grid-area: property-label;
  }

  .Range {
    grid-area: modifier;
    align-self: center;
  }

  .ValueBox {
    @include text-shadow;
    grid-area: value-box;
  }
}
