@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/mixins" as *;

.Container {
  @include blurring;
  box-shadow: 1px 2px 1px hsla(0, 0%, 0%, 0.75);

  position: relative;
  width: fit-content;
  height: fit-content;

  color: color.$light1;

  border-radius: 5px;

  z-index: 4;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}