@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/mixins" as *;


.ModalHeader {
  @include text-shadow;
  @include font.header-2;

  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  border-bottom: 2px solid color.$light1;
}