@use "../../../styles/colors" as color;
@use "../../../styles/mixins" as *;

.Selection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "toggles"
    "searchbar"
    "buttons";
  row-gap: 1rem;
  padding: 1rem 0;
  border-bottom: 2px solid color.$light1;
  box-shadow: 0 2px 0 black;
  
  .Toggles {
    grid-area: toggles;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1rem;
  }

  .Searchbar {
    grid-area: searchbar;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;

    label {
      @include text-shadow;
      width: 25%;
    }
  }

  .Buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    
    button {
      padding: 0.5rem 1rem;
      width: max-content;
    }
  }
}
