@use "../../styles/mixins" as *;
@use "../../styles/fonts" as font;
@use "../../styles/colors" as color;

.Section {
  @include blurring;
  display: flex;
  flex-direction: column;
  color: color.$light1;

  .Header {
    background-color: rgba($color: color.$dark1, $alpha: 0.75);
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
      @include font.header-3;
    }
  }
  
  .Main {
    background-color: color.$bg-semitransparent;
    align-content: center;
    min-height: 20vh;
    height: 100%;
    width: 100%;
  
    tr {
      .Label {
        color: color.$light2;
      }
    }
    
    span {
      place-self: center;
    }
  }
}

