@use "../../styles/mixins" as *;
@use "../../styles/fonts" as font;
@use "../../styles/colors" as color;

.Section {
  @include blurring;
  display: flex;
  flex-direction: column;
  color: color.$light1;

  .Header {
    background-color: rgba($color: color.$dark1, $alpha: 0.75);
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
      @include font.header-3;
    }
  }

  .Main {
    background-color: color.$bg-semitransparent;
    min-height: 20vh;
    height: 100%;
    width: 100%;

    tbody {
      tr {
        .Label {
          text-align: left;
          color: color.$light2;
          width: 40%;
        }

        td {
          text-align: center;
        }
      }
    }

    span {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

