@use "./styles/colors" as color;
@use "./styles/mixins" as *;

.App {
  display: grid;

  position: fixed;
  height: 100%;
  width: 100%;

  background-image: url("./MiamiCropped4k.png");
  background-color: color.$light1;
  background-repeat: repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: 15% 82% min-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-nav"
    "main"
    "footer";

  overflow: hidden auto;

  .Header {
    position: relative;
    grid-area: header-nav;

    display: grid;
    z-index: 3;
  }

  .Map {
    position: relative;
    grid-area: main;
    z-index: 1;
  }

  .Main {
    position: relative;
    grid-area: main;
    z-index: auto;
  }

  .Footer {
    position: relative;
    grid-area: footer;

    z-index: 3;
  }
}

@media (max-width: 600px) {

}