@use "./styles/colors" as color;

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: color.$light2 color.$dark1;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
  right: 0px;
  position: absolute;
  background-color: color.$light1;
}

body::-webkit-scrollbar-track {
  background-color: color.$light1;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: color.$light2;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid color.$light2;  /* creates padding around scroll thumb */
}