@use "./styles/colors" as color;
@use "./styles/fonts" as font;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: color.$light2 color.$dark1;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
  right: 0px;
  position: absolute;
  background-color: color.$light1;
}

body::-webkit-scrollbar-track {
  background-color: color.$light1;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: color.$light2;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid color.$light2;  /* creates padding around scroll thumb */
}

h1{
  @include font.header-1;
}

h2{
  @include font.header-2;
}

h3{
  @include font.header-3;
}
