@use "../../../../styles/mixins" as *;
@use "../../../../styles/fonts" as font;
@use "../../../../styles/colors" as color;
@use "../../../../styles/components/separators" as separator;
@use "../../../../styles/components/form";
@use "../../../../styles/components/buttons" as button;

.Container {
  @include main-component;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "title" "." "form";

  padding: 0 15vw;
  padding-top: 1rem;
  z-index: 2;

  h1 {
    @include text-shadow;
    @include font.header-1;
    
    grid-area: title;

    color: color.$light1;
  }

  h2 {
    @include text-shadow;
    @include font.header-2;

    color: color.$light1;
  }

  hr {
    @include separator.style;
    width: 95%;
  }

  .Form {
    @include form.style;
    display: grid;
    grid-area: form;
  }
};
