@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as font;
@use "../../../styles/colors" as color;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/form";

.Container {
  @include main-component;
  grid-area: 2 / 1 / 3 / end;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "title" "." "form" "buttons";

  h1 {
    @include text-shadow;
    @include font.header-1;
    
    grid-area: title;

    color: color.$light1;
  }

  hr {
    @include separator.style;
    width: 95%;
  }

  .Form {
    @include form.style;
    display: grid;
    padding-top: 0;
    align-self: center;
    margin-bottom: 1rem;
  }
};
