@import "./styles/globals.scss";

.App {
  position: fixed;

  height: 100%;
  width: 100%;

  display: grid;
  
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 15fr 0.5fr;

  font-family: "Roboto";
  @include text-shadow;
}

body {
  background-image: url("./background.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: $primary-color;
  text-decoration: none;
  :hover {
    color: $tertiary-color;
  }
}
