@import "./styles/globals.scss";

.App {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 6fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: $tertiary-color;
}
