@import "./styles/globals.scss";

.App {
  position: fixed;
  height: 100%;
  width: 100%;

  background-image: url("./topography.svg");
  background-color: #ffffff;
  background-repeat: repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: 10% 1fr min-content;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
    "header header header"
    "sidebar main sidebar"
    "footer footer footer";

  font-family: "Roboto";
}

a {
  @include hyperlink-text;
  :hover {
    color: $tertiary-color;
  }
}

@media (max-width: 600px) {
  .App {
    grid-template-areas: 
      "header"
      "main"
      "footer";
  }
}