@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/components/separators" as separator;
@use "../../styles/mixins" as *;

.Modal {
  @include blurring;
  box-shadow: 1px 2px 1px hsla(0, 0%, 0%, 0.75);
  
  position: relative;
  max-width: 100%;
  min-height: 85%;
  height: fit-content;
  width: fit-content;
  min-width: 20%;

  color: color.$light1;

  grid-template-rows: 1fr auto 9fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "modal-header"
    "separator"
    "modal-content";

  border-radius: 10px;
  
  padding: 0 1rem 1rem 1rem;

  z-index: 3;

  .ModalHeader {
    @include text-shadow;
    display: grid;
    grid-area: modal-header;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "modal-title modal-exit";
    column-gap: 2rem;
    height: fit-content;

    .ModalTitle {
      @include font.header-2;
      grid-area: modal-title;
      place-self: left center;
    }

    .CloseButton {
      grid-area: modal-exit;
      place-self: center right;
    }
  }

  .Separator {
    @include separator.style;
    grid-area: separator;

    place-self: center;
    width: 95%;
  }

  .ModalContent {
    @include font.main;

    display: grid;
    grid-area: modal-content;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}