@import "../../styles/globals.scss";

.Modal {
  @include blurring;
  position: fixed;

  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "modal-header" "modal-content";
  padding: 1rem 1rem;
  border-radius: 10px;

  z-index: 3;

  .ModalHeader {
    display: grid;
    grid-area: modal-header;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: none;
    grid-template-areas: "modal-title modal-exit";

    .ModalTitle {
      grid-area: modal-title;
    }
  }

  .ModalContent {
    display: grid;
    grid-area: modal-content;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}