@import "../../styles/globals.scss";

.Modal {
  @include blurring;

  display: grid;
  position: fixed;
  margin: 15px;
  
  max-width: 30vw;
  max-height: 80vh;

  height: fit-content;
  width: fit-content;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}