@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/components/buttons" as button;
@use "../../../styles/mixins" as *;

.LoginContainer {
  @include main-component;

  display: flex;
  place-content: center;

  .Login {
    @include text-shadow;
    @include drop-shadow;

    margin: 2rem 0 0 0;
    place-content: center;
    color: color.$light1;
    background-color: color.$dark1;
  
    max-height: 70%;
    height: fit-content;
    width: max-content;
    padding: 1rem 2rem 3rem 2rem;
  
    display: grid;
    grid-template-rows: 1fr min-content minmax(2fr, max-content);
    grid-template-areas: "login-header" "separator" "login-form";
  
    border-radius: 10px;
  
    z-index: 13;
  
    .LoginHeader {
      grid-area: login-header;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "login-title login-exit";
  
      .LoginTitle {
        @include font.header-1;
        grid-area: login-title;
        place-self: left center;
  
      }
  
      .CloseButton {
        grid-area: login-exit;
        place-self: center right;
      }
    }
  
    hr {
      @include separator.style;
      width: 95%;
      margin: 0 0 1rem 0;
      place-self: center;
    }
  
    .LoginForm {
      @include text-shadow;
      grid-area: login-form;
  
      display: grid;
      grid-auto-rows: auto;
      row-gap: 2rem;
      grid-template-areas: 
        "input-fields"
        "options"
        "error-notification"
        "buttons";
    
      height: fit-content;
    
      margin: 0.5rem 1rem;
    
      .LoginFields {
        grid-area: input-fields;
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 1rem;
        height: fit-content;
    
        .FormGroup {
          display: grid;
          grid-template-rows: max-content 1fr;
          grid-template-columns: 1fr 2fr;
          grid-template-areas: 
            "input-label error-alert" 
            "input input";
          column-gap: 1rem;
          row-gap: 1rem;
          
          width: 100%;
          height: fit-content;
    
          label {
            @include font.info;
            grid-area: input-label;
            display: flex;
            text-align: start;
            justify-self: start;
          }
    
          span {
            @include font.error-alert;
            grid-area: error-alert;
            display: flex;
            justify-self: end;
            text-align: center;
          }
          
          input {
            @include box.light;
            grid-area: input;
          
            height: 0.8rem;
            width: 80%;
            place-self: center;
          }
        }
      }
    
      .Options {
        margin-top: 0.5rem;
    
        display: grid;
        grid-area: options;
        height: fit-content;
    
        grid-template-columns: 1fr 1fr;
        place-items: center;
        text-align: center;
    
        .RememberMe {
          display: flex;
          place-self: start;
          
          label {
            @include font.main;
            text-align: center;
          }
    
          label:hover {
            color: color.$accent1;
            transition: color 0.4s;
          }
        }
    
        .ForgotPassword {
          @include hyperlink-behavior;
          display: flex;
          align-self: center;
          a {
            color: color.$light1;
          }
        }
      }
    
      .ErrorNotification {
        grid-area: "error-notification";
    
        display: grid;
        place-content: center;
      }
    
      .Buttons {
        grid-area: buttons;
    
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 0.5rem;
        place-items: center;
    
        .LoginButton {
          @include button-behavior;
          width: 100%;
          
          place-self: center;
    
          button {
            @include button.decorated;
            color: color.$light1;
            background-color: color.$light2;
          }
        }
        
        .RegistrationButton {
          @include hyperlink-behavior;
          text-align: center;
    
          a {
            @include font.nav;
            color: color.$light1;
          }
        }
      }
    }
  }
}
