@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/mixins" as *;

.Container {
  @include main-component;
  position: relative;
  display: flex;
  place-content: center;
  
  z-index: 2 ;

  .Login {
    @include text-shadow;
    @include drop-shadow;

    margin: 2rem 0 2rem 0;
    padding: 1rem 2rem;
    place-content: center;
    
    max-height: 70%;
    height: fit-content;
    min-height: 30rem;
    width: max-content;
    min-width: 20vw;
    
    color: color.$light1;
    background-color: color.$dark1;
    border-radius: 10px;
  
    .LoginForm {
      @include text-shadow;
      grid-area: login-form;
  
      display: grid;
      grid-auto-rows: auto;
      row-gap: 2rem;
      grid-template-areas: 
        "input-fields"
        "options"
        "error-notification"
        "buttons";
    
      height: fit-content;
    
      margin: 0.5rem 1rem;
    
      .LoginFields {
        grid-area: input-fields;
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 1rem;
        height: fit-content;
    
        .FormGroup {
          display: grid;
          grid-template-rows: max-content 1fr;
          grid-template-columns: 1fr 2fr;
          grid-template-areas: 
            "input-label error-alert" 
            "input input";
          column-gap: 1rem;
          row-gap: 1rem;
          
          width: 100%;
          height: fit-content;
    
          label {
            @include font.info;
            grid-area: input-label;
            display: flex;
            text-align: start;
            justify-self: start;
          }
    
          span {
            @include font.error-alert;
            grid-area: error-alert;
            display: flex;
            justify-self: end;
            text-align: center;
          }
          
          input {
            @include box.light;
            grid-area: input;
          
            height: 1rem;
            width: 90%;
            place-self: center;
          }
        }
      }
    
      .Options {
        display: grid;
        grid-area: options;
        height: fit-content;
    
        grid-template-columns: 1fr 1fr;
        place-items: center;
        text-align: center;
    
        .RememberMe {
          display: flex;
          place-self: start;
          
          label {
            @include font.main;
            text-align: center;
          }
    
          label:hover {
            color: color.$accent1;
            transition: color 0.4s;
          }
        }
    
        .ForgotPassword {
          @include hyperlink-behavior;
          display: flex;
          align-self: center;

          a {
            color: color.$light1;
          }

          a:hover {
            color: color.$accent1;
          }
        }
      }
    
      .ErrorNotification {
        grid-area: "error-notification";
    
        display: grid;
        place-content: center;
      }
    
      .Buttons {
        grid-area: buttons;
    
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 0.5rem;
        place-items: center;
    
        .LoginButton {
          width: 100%;
          place-self: center;

          button {
            padding: 0.5rem 0.5rem;
          }
        }
      }
    }
  }
}
