@import "../../styles/globals.scss";

.RegistrationView {
  @include blurring;
  @include text-shadow;
  @include separator-style;
  display: grid;
  grid-area: 2 / 1 / 3 / end;

  padding: 1rem 5rem;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "separator" "form";
  row-gap: 1rem;

  .RegistrationTitle {
    @include title-font;
    color: $primary-color;
    grid-area: title;
  }
  
  .Separator {
    @include separator-style;
    grid-area: separator;
    place-self: center;
  }

  .RegistrationForm {
    display: grid;
    grid-area: form;
    grid-template-rows: 1fr min-content;
    grid-template-areas: "fields" "submit" ;
    row-gap: 1rem;

    .SubmitButton {
      @include button-behavior;
      align-self: end;
      justify-self: right;
      grid-area: submit;
      max-width: 30%;
    }

    .RegistrationFields {
      display: grid;
      grid-auto-rows: 3rem;
      grid-area: fields;
  
      .FormGroup {
        display: grid;

        grid-template-columns: 1fr 2fr;
        grid-template-areas: "label input";
        column-gap: 2rem;
  
        label {
          @include main-font;
          color: $primary-color;
          grid-area: label;
  
          text-align: start;
          text-justify: center;
          justify-self: start;
          align-self: center;
          height: max-content;
          width: max-content;
        }
        
        input {
          @include drop-shadow;
          grid-area: input;
        
          border: 2px solid $secondary-color;
          border-radius: 5px;
          height: 1.8rem;
          width: 80%;
          place-self: center;
          justify-content: right;
        }
      }
    }
  }
}

/* TODO: responsive. Move input below label*/