@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.Table {
  @include text-shadow;
  height: 50%;
  width: 100%;
  padding: 2rem;
  background-color: rgba(#000000, 0.5);
  border: 0.5px solid rgba(color.$light1, 0.5);
  border-spacing: 0;
  border-radius: 10px;

  thead {
    @include font.header-3;
    color: color.$light1;

    tr::after {
      content: normal;
      border-bottom: 1px solid color.$light1;
    }
  }

  td {
    color: color.$light1;
    text-align: center;
    padding: 1rem;
  }

  tbody {
    overflow: auto;
    border-radius: 10px;

    tr:hover {
      background-color: rgba(color.$light2, 0.5);
      cursor: pointer;

      td{
        color: color.$accent1;
      }
    }
  
    tr::after {
      content: none;
      color: color.$light1;
      border-bottom: 1px solid color.$light1;
    }
  }

  .Pagination { // TODO: styles
    padding: 1rem;
  }
}