@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.Table {
  @include text-shadow;
  width: 100%;

  th {
    color: color.$light1;
    border-bottom: solid 3px color.$light2;
    font-weight: 400;
    font-size: font.$size-2;
  }

  td {
    text-align: center;
    padding: 10px;
  }
}