@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.AlertBox {
  @include font.error-alert;
  border: 2px solid color.$light1;
  border-radius: 10px;
  padding: 0.5rem;
  height: fit-content;
}
