@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as font;
@use "../../../styles/colors" as color;

.container {
  @include main-component;
  @include text-shadow;
  position: absolute;
  
  overflow: hidden;
  
  z-index: 2;
}

.text  {
  display: flexbox;
  flex-direction: column;
  row-gap: 1rem;
  overflow: auto;
  padding: 2rem 2rem;
  max-height: 80%;
}

h1 {
  @include font.header-1;
}

h2 {
  @include font.header-2;
}

p {
  @include font.main;
}

a {
  @include hyperlink-behavior;
  color: color.$light2;
}