@use "../../../styles/colors"as color;
@use "../../../styles/fonts"as font;
@use "../../../styles/mixins"as *;

@mixin button {
  @include font.button;
  @include drop-shadow;
  @include text-shadow;
  @include hyperlink-behavior;
  @include button-behavior;
  display: flex;
  flex-wrap: nowrap;
}

.primary {
  @include button;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  border-style: none;
  border-radius: 5px;

  background-color: color.$light2;

  &:disabled {
    color: color.$light1-disabled;
    background-color: color.$light2-disabled;
  }
}

.toggle {
  @include button;

  width: 100%;

  border: 2px solid color.$light2;
  border-radius: 5px;

  background-color: color.$dark1;

  &:disabled {
    color: color.$light1-disabled;
    border: none;
    background-color: color.$light2-disabled;
  }
}

.toggle-checked {
  @include button;

  width: 100%;

  border: 2px solid color.$light1;
  border-radius: 5px;
  background-color: color.$light2;
}

.danger {
  @include button;

  width: 100%;

  border-style: none;
  border-radius: 10px;

  background-color: color.$danger;

  &:disabled {
    color: color.$light1-disabled;
    background-color: color.$danger-disabled;
  }
}

.exit {
  @include font.button;
  @include drop-shadow;
  @include text-shadow;
  @include button-behavior;

  color: color.$light1;
  background-color: color.$light2;

  text-align: center;

  padding: 5px 10px;

  border-style: none;
  border-radius: 5px;

  &:disabled {
    color: color.$light1-disabled;
  }
}

.undecorated {
  @include font.button;
  @include text-shadow;
  @include hyperlink-behavior;

  border: none;
  background: none;

  &:disabled {
    color: color.$light1-disabled;
  }
}
