@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/buttons" as button;
@use "../../../styles/mixins" as *;

.primary {
  @include button.decorated;
  color: color.$light1;
  background-color: color.$light2;

  a {
    color: color.$light1;
    text-decoration: none;
  }
};

.primary:disabled {
  color: color.$light1-disabled;
  background-color: color.$light2-disabled;

  a {
    color: color.$light1-disabled;
    text-decoration: none;
  }
}

.danger {
  @include button.decorated;
  color: color.$light1;
  background-color: color.$danger;
};

.danger:disabled {
  color: color.$light1-disabled;
  background-color: color.$danger-disabled;
}

.exit {
  @include button.small-light;
};

.undecorated {
  @include button.no-decorations;
}
