
.Home {
  grid-area: 2 / 1 / 3 / end;
  
  display: grid;
  grid-template-rows: auto max-content;
  grid-template-areas:
    "map"
    "info";

  height: 100%;
  width: 100%;

  z-index: 1;

  .ModalTabs {
    position: fixed;
    top: 20%;
    right: 0;
  
    display: grid;
    grid-auto-rows: auto;
    row-gap: 1rem;

    z-index: 2;
  }
  
  .Info {
    grid-area: info;
    z-index: 2;
  }
}

