@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/mixins" as *;

.Container {
  @include box-shadow;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  .Selection {
    @include text-shadow;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "toggles searchbar aircraft-buttons";

    .Toggles {
      grid-area: toggles;
    }

    .Searchbar {
      grid-area: searchbar;
    }

    .AircraftButtons {
      grid-area: aircraft-buttons;
    }
  }

  .Inputs {
    .SliderInput {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "property-label property-output"
        "modifier modifier";
      row-gap: 0.5rem;

      .range {
        grid-area: modifier;
      }

      .output {
        grid-area: property-output;
        width: max-content;
      }

      label {
        grid-area: property-label;
        align-self: center;
        width: 100%;
      }
    }

    .ValueInput {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "property-label property-input";

      label {
        grid-area: property-label;
        align-self: center;
      }

      input {
        @include box.light;
        grid-area: property-input;
        align-self: center;
        width: max-content;
      }
    }
  }
}

.Separator {
  @include separator.style;
  width: 95%;
}

.Accept {
  display: flex;
  grid-area: accept;
  height: fit-content;
  justify-self: flex-end;
  width: 50%;
}

label {
  @include text-shadow;
}

.output {
  @include box.light;
}

h1 {
  @include text-shadow;
  @include font.header-3;
  margin: 0;
}
