
$light1: hsl(0, 0%, 100%);
$light1-disabled: hsl(0, 0%, 50%);
$light2: hsl(190, 70%, 50%);
$light2-disabled: hsl(190, 70%, 20%);
$dark1: #37393a;
$dark2: #694a38;
$accent1: hsl(45, 100%, 50%);
$accent2: hsl(346, 100%, 75%);
$bg-semitransparent: rgba(0, 0, 0, 0.75);
