@use "./colors" as color;

$size-5: 2.047rem;
$size-4: 1.728rem;
$size-3: 1.44rem;
$size-2: 1.2rem;
$size-1: 1rem;
$size-0: 0.833rem;

@mixin header-1 {
  font-weight: 400;
  font-size: $size-4;
}

@mixin header-2 {
  font-weight: 400;
  font-size: $size-3;
}

@mixin header-3 {
  font-weight: 500;
  font-size: $size-2;
}

@mixin nav {
  font-weight: 600;
  font-size: $size-3;
}

@mixin main {
  font-weight: 500;
  font-size: $size-1;
}

@mixin button {
  font-weight: 600;
  font-size: $size-3;
}

@mixin button-2 {
  font-weight: 600;
  font-size: $size-2;
}

@mixin info {
  font-weight: 400;
  font-size: $size-1;
}

@mixin footer {
  font-weight: 300;
  font-size: $size-1;
}
