@use "./colors" as color;
@use "./fonts" as font;

@mixin blurring {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(2px);
  -webkit-backdrop-filter: saturate(180%) blur(2px);
}

@mixin box-shadow {
  filter: box-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
}

@mixin drop-shadow {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
}

@mixin text-shadow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

@mixin hyperlink-behavior {
  a {
    text-decoration: none
  };

  a:hover {
    color: color.$accent1;
  }
}

@mixin button-behavior {
  decoration: none;
  
  :hover {
    cursor: pointer;
    color: color.$accent1;
  }
}

@mixin separator-style {
  border: 0.5px solid color.$primary;
  border-radius: 1px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

@mixin checkbox-style {
  // FIXME: Label color on hover

  /* Based on checkbox by https://codepen.io/valerypatorius/pen/oXGMGL/ */
  input[type="checkbox"] { 
    display: none;
  }

  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    color: color.$primary;
    cursor: pointer;
  }

  input[type="checkbox"] + label:last-child { 
    margin-bottom: 0;
  }

  input[type="checkbox"] + label:before {
    @include drop-shadow;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid color.$primary;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -2px;
    opacity: 1;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }

  input[type="checkbox"]:hover + label:before {
    border-color: color.$accent1;
    color: color.$accent1;
    opacity: 0.8;
  }

  input[type="checkbox"]:hover:checked + label:before {
    border-color: color.$accent1;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-color: color.$secondary;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}