@use "./colors" as color;
@use "./fonts" as font;

@mixin blurring {
  background-color: color.$bg-semitransparent;
  backdrop-filter: saturate(180%) blur(2px);
  -webkit-backdrop-filter: saturate(180%) blur(2px);
}

@mixin box-shadow {
  filter: box-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
}

@mixin drop-shadow {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
}

@mixin text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

@mixin hyperlink-behavior {
  a {
    text-decoration: none
  };

  a:hover {
    color: color.$accent1;
  }
}

@mixin button-behavior {
  decoration: none;
  text-decoration: none;
  
  :hover {
    cursor: pointer;
    color: color.$accent1;
  }
}
