
$primary-color: white;
$secondary-color: hsl(191, 100%, 47%);
$tertiary-color: hsl(39, 100%, 70%);
$background-color: rgba(143, 143, 143, 0.60);

$text-size-5: 2.44em;
$text-size-4: 1.953em;
$text-size-3: 1.563em;
$text-size-2: 1.25em;
$text-size-1: 1em;
$text-size-0: 0.8em;

@mixin header-font {
  font-weight: 600;
  font-size: $text-size-2;
}

@mixin blurring {
  background-color: rgba(85, 85, 85, 0.699);
  backdrop-filter: blur(20px);
}

@mixin drop-shadow {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

@mixin text-shadow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}

@mixin hyperlink-behavior {
  :hover {
    color: $tertiary-color;
  }
}