
$primary-color: white;
$secondary-color: hsl(191, 100%, 47%);
$tertiary-color: hsl(0, 0%, 25%);
$background-color: rgba(143, 143, 143, 0.60);

@mixin blurring {
  background-color: rgba(85, 85, 85, 0.699);
  backdrop-filter: blur(20px);
}

@mixin drop-shadow {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));
}

@mixin text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}