
$primary-color: hsl(0, 0%, 90%);
$secondary-color: hsl(190, 65%, 50%);
$tertiary-color: hsl(39, 100%, 70%);
$background-color: hsla(0, 0%, 0%, 0.5);
$background-color-solid: hsl(0, 0%, 25%);

$text-size-5: 2.44rem;
$text-size-4: 1.953rem;
$text-size-3: 1.563rem;
$text-size-2: 1.25rem;
$text-size-1: 1rem;
$text-size-0: 0.8rem;

@mixin title-font {
  font-style: normal;
  font-weight: 400;
  font-size: $text-size-3;
}

@mixin header-font {
  font-weight: 600;
  font-size: $text-size-2;
}

@mixin main-font {
  font-weight: 300;
  font-size: $text-size-1;
}

@mixin button-font {
  font-weight: 600;
  font-size: $text-size-2;
}

@mixin info-font {
  font-weight: 400;
  font-size: $text-size-1;
}

@mixin footer-font {
  font-weight: 300;
  font-size: $text-size-1;
}

@mixin blurring {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(2px);
  -webkit-backdrop-filter: saturate(180%) blur(2px);
}

@mixin drop-shadow {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.70));
}

@mixin drop-shadow-strong {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.70));
}

@mixin text-shadow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.70);
}

@mixin hyperlink-behavior {
  a {
    text-decoration: none
  };

  a:hover {
    color: $tertiary-color;
  }
}

@mixin button-behavior {
  text-decoration: none;
  
  button:hover {
    color: $tertiary-color;
  }
}