@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/components/boxes" as box;
@use "../../styles/components/buttons" as button;
@use "../../styles/mixins" as *;

.TableView {
  @include text-shadow;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  justify-content: center;
  row-gap: 2rem;

  overflow: auto auto;

  .Table {
    grid-area: table-view;
    border-spacing: 0;
  
    .TableHeader {
      @include font.header-3;
      height: 2rem;
      color: color.$light1;

      th {
        width: 20rem;
      }
    }
  
    td {
      color: color.$light1;
      text-align: center;
      padding: 0.5rem 1rem;
    }
  
    tr {
      border-radius: 10px;
    }

    tbody {
      overflow: hidden scroll;

      tr:hover {
        cursor: pointer;

        td {
          color: rgba(color.$accent1, 1.0);
          transition: color 0.3s;
        }
      }
    }
  }

  .Controls {
    @include text-shadow;
    grid-area: pagination;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    column-gap: 1rem;
    color: color.$light1;

    .MoveControls {
      display: flex;
      flex-direction: row;
      width: 100%;
      column-gap: 1rem;
      justify-self: start;
      align-items: center;

      input {
        @include box.light;
      }
  
      select {
        @include box.light;
      }
  
      button {
        @include button.controls;
      }
    }

    .SelectButton { // TODO: fix style inheritance
      display: flex;
      justify-content: flex-end;

      button {
        padding: 0.5rem 2rem;
      }
    }
  }
}