@use "../fonts" as font;
@use "../colors" as color;
@use "../mixins" as *;


@mixin light {
  @include font.main;
  @include drop-shadow;
  color: color.$dark1;
  background-color: color.$light1;
  border: 3px solid color.$light2;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

@mixin light-disabled {
  @include light;
  background-color: color.$light1-disabled;
}
