@use "../colors" as color;
@use "../fonts" as font;
@use "./separators" as separator;
@use "./boxes" as box;
@use "./buttons" as button;
@use "../mixins" as *;

@mixin style {
  @include text-shadow;
  grid-area: form;

  display: grid;
  grid-template-rows: max-content fit-content min-content;
  grid-template-areas: "fields" "alert" "submit";
  row-gap: 0.5rem;

  padding: 2vh 5vw;

  .Fields {
    grid-area: fields;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    row-gap: 1rem;
  }

  .AlertNotification {
    grid-area: alert;
    min-height: 3rem;
    place-content: center;
  }

  .SubmitButton {
    @include button-behavior;
    grid-area: submit;

    align-self: flex-end;
    justify-self: right;
    width: 10vw;
    min-width: 8rem;

    button {
      @include button.decorated;
      color: color.$light1;
      background-color: color.$light2;
    }

    button:disabled {
      @include button.decorated;
      color: color.$light1-disabled;
      background-color: color.$light2-disabled;
    }
  }
}