@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as font;

.SuccessfulRegistration {
  @include main-component;

  display: flex;
  flex-direction: column;

  h1 {
    padding-top: 5vh;
  }

  p {
    @include font.header-2;
    padding-top: 10vh;
  }

  button {
    place-self: center;
    max-width: 20%;
    min-width: 6rem;
    min-height: 4rem;
  }
}
