@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.Footer {
  @include font.footer;
  height: 100%;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "copyright links";

  align-content: center;

  background-color: color.$dark1;

  .Copyright{
    @include text-shadow;
    color: color.$light1;
    grid-area: copyright;
    padding: 0 2vh;

    svg {
      @include drop-shadow;
    }
  }

  .Links{
    @include text-shadow;

    grid-area: links;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    column-gap: 1rem;

    a {
      @include hyperlink-behavior;

      text-decoration: none;
      color: color.$light1;
    }
  }

  z-index: 3;
}
