@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.Footer {
  @include font.footer;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 100%;
  padding: 0 2vw;

  justify-content: space-between;

  background-color: color.$dark1;

  z-index: 3;

  .Copyright{
    @include text-shadow;
    color: color.$light1;
    padding: 0 2vh;

    svg {
      @include drop-shadow;
    }
  }

  .Links{
    @include text-shadow;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    column-gap: 1rem;

    a {
      @include hyperlink-behavior;
      flex-wrap: nowrap;

      text-decoration: none;
      color: color.$light1;
    }
  }
}
