@import "../../styles/globals.scss";
@import "../Menu/Menu.module.scss";
@import "../Buttons/HeaderButton.module.scss";

.Header {
  @include blurring;
  @include text-shadow;

  position: static;
  grid-area: 1 / 1 / 2 / end;

  min-height: 90px;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "logo nav user";
  row-gap: 1vw;

  z-index: 3;

  .HeaderLogo {
    grid-area: logo;

    place-self: center;

    img {
      max-height: 2vw;
      align-self: center;
      justify-self: center;
    }
  }

  .HeaderNav {
    @include hyperlink-text;
    grid-area: nav;

    display: flex;

    align-self: center;
    justify-self: flex-start;
    align-items: center;
    justify-items: flex-start;
    padding: 0vw 2vw;

    li {
      height: 100%;
      min-width: fit-content;
      margin: 0vw 1vw;
    }
  }

  .HeaderAccount {
    @include header-font;
    @include hyperlink-text;

    grid-area: user;

    display: flex;
    flex-direction: row;

    place-self: center;

    align-content: flex-start;
    justify-content: flex-start;

    a {
      color: $primary-color;
    }
    
    li {
      padding: 0 1vw;
    }
  }

  .MenuButton {
    display: none;
    grid-area: logo;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  z-index: 10;
}

@media screen and (max-width: 600px) {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu user";

    .HeaderNav {
      display: none;
    }

    .HeaderLogo {
      display: none;
    }
  
    .MenuButton {
      display: flex;
      content-visibility: visible;
      grid-area: menu;
    }
  }
}