@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

@import "../Menu/Menu.module.scss";
@import "../Buttons/ButtonStyles.module.scss";

.Header {
  @include blurring;
  @include text-shadow;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "logo nav user";
  column-gap: 3rem;

  z-index: 10;

  .HeaderLogo {
    max-height: 2rem;

    grid-area: logo;

    place-self: center;
  }

  .HeaderNav {
    @include hyperlink-behavior;
    grid-area: nav;
    height: 100%;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-rows: none;
    column-gap: 2rem;

    align-self: center;
    align-items: center;

    li {
      max-width: max-content;
    }
  }

  .HeaderAccount {
    @include font.nav;
    @include hyperlink-behavior;

    grid-area: user;
    align-self: center;
    justify-self: center;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }

    a {
      color: color.$primary;
    }

    li {
      place-self: center;
      min-width: max-content;
    }
  }

  .MenuButton {
    display: none;
    grid-area: logo;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

}

@media screen and (max-width: 600px) {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu user";

    .HeaderNav {
      display: none;
    }

    .HeaderLogo {
      display: none;
    }
  
    .MenuButton {
      display: flex;
      content-visibility: visible;
      grid-area: menu;
    }
  }
}