@import "../../styles/globals.scss";
@import "../Menu/Menu.module.scss";
@import "../Buttons/HeaderButton.module.scss";

.Header {
  @include blurring;
  @include text-shadow;

  position: static;
  grid-area: 1 / 1 / 2 / end;

  min-height: 12vh;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "logo nav user";
  row-gap: 1vw;

  z-index: 3;

  .HeaderLogo {
    max-height: 2rem;

    grid-area: logo;

    place-self: center;
  }

  .HeaderNav {
    @include hyperlink-text;
    grid-area: nav;

    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: none;
    column-gap: 1vw;

    align-self: center;

    margin: 0 1vw;

    li {
      height: 100%;
      min-width: fit-content;
      margin: 0 1vw;
    }
  }

  .HeaderAccount {
    @include header-font;
    @include hyperlink-text;

    grid-area: user;
    align-self: center;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
      column-gap: 1vw;
    }

    a {
      color: $primary-color;
    }

    li {
      place-self: center;
    }
  }

  .MenuButton {
    display: none;
    grid-area: logo;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  z-index: 10;
}

@media screen and (max-width: 600px) {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu user";

    .HeaderNav {
      display: none;
    }

    .HeaderLogo {
      display: none;
    }
  
    .MenuButton {
      display: flex;
      content-visibility: visible;
      grid-area: menu;
    }
  }
}