@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.AircraftEditView {
  @include blurring;
  display: grid;
  grid-area: 2 / 1 / 3 / end;

  height: 100%;
  padding: 0 5rem;
  grid-template-rows: auto min-content 8fr;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "separator" "table";

  .AircraftEditTitle {
    @include text-shadow;
    @include font.header-1;
    color: color.$light1;
    grid-area: title;
  }

  .Separator {
    @include separator-style;
    grid-area: separator;
    width: 95%;
    place-self: center;
    margin: 1rem 0 2rem 0;
  }

  .AircraftTable {
    grid-area: table;
  }
}
