@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/components/buttons" as button;
@use "../../../styles/mixins" as *;

.RegistrationView {
  @include main-component;
  
  display: grid;
  grid-template-rows: auto min-content 8fr;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "separator" "form";

  .RegistrationTitle {
    @include font.header-1;
    @include text-shadow;
    grid-area: title;

    color: color.$light1;
  }
  
  .Separator {
    @include separator.style;
    grid-area: separator;

    width: 95%;
    place-self: center;
  }

  .RegistrationForm {
    @include text-shadow;
    grid-area: form;

    display: grid;
    grid-template-rows: max-content fit-content min-content min-content;
    grid-template-areas: "fields" "alert" "submit" "terms";
    padding: 1rem 0rem;
    row-gap: 1rem;

    .Alert {
      grid-area: alert;

      display: grid;
      place-content: center;
    }

    .SubmitButton {
      @include button-behavior;
      grid-area: submit;

      align-self: center;
      align-content: center;
      justify-self: right;
      width: 15%;
      min-width: 8rem;

      button {
        @include button.decorated;
        color: color.$light1;
        background-color: color.$light2;
      }
    }

    .RegistrationFields {
      grid-area: fields;

      display: grid;
      grid-auto-rows: max-content;
      row-gap: 1rem;
  
      .FormGroup {
        display: grid;

        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: "form-label form-input validation";
        column-gap: 2rem;
  
        label {
          @include font.main;
          color: color.$light1;
          grid-area: form-label;

          text-align: center;
          justify-self: start;
          align-self: center;
          height: max-content;
        }

        span {
          @include font.error-alert;
          grid-area: validation;
          display: flex;
          justify-self: start;
          align-self: center;
        }

        input {
          @include box.light;
          grid-area: form-input;

          height: 1.5rem;
          width: 100%;
          align-self: center;
          justify-self: center;
        }
      }
    }

    .Terms {
      grid-area: terms;
      @include font.info;
      @include text-shadow;
      color: color.$light1;
      place-self: center;

      a {
        @include hyperlink-behavior;
        color: color.$light2;
      }
    }
  }
}

/* TODO: responsive. Move input below label*/