@use "../../../styles/mixins" as *;

// TODO: style
.PasswordResetSuccess {
  @include main-component;
  grid-template-rows: 1fr 3fr;

  display: flex;
  flex-direction: column;

  button {
    align-self: center;

    margin-top: 5rem;
    max-width: 50%;
    min-width: 12rem;
  }
}
