@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as font;
@use "../../../styles/colors" as color;

.TermsAndConditions {
  @include main-component;
  @include text-shadow;
  position: absolute;

  padding-top: 1rem;
  overflow: hidden;
  
  z-index: 2;
}

h1{
  @include font.header-1;
}

.Text {
  overflow: auto;
  padding: 0 5rem;
  max-height: 80%;
}

p {
  @include font.main;
}