@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

@import "../Menu/Menu.module.scss";
@import "../Buttons/ButtonStyles.scss";

.HeaderContainer {
  @include blurring;
  @include text-shadow;

  height: 100%;
  width: 100%;
  min-height: 6rem;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "logo navigation user";
  column-gap: 3rem;

  z-index: 10;

  .HeaderLogo {
    grid-area: logo;

    padding: 0 2vw;
    max-height: 2rem;

    place-self: center;
  }

  .HeaderNav {
    @include hyperlink-behavior;
    grid-area: navigation;
    min-height: 100%;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-rows: none;
    column-gap: 2vw;

    align-self: center;
    align-items: center;

    li {
      max-width: max-content;
    }
  }

  .HeaderAccount {
    @include font.nav;
    @include hyperlink-behavior;
    grid-area: user;

    display: grid;
    grid-auto-columns: 1fr;
    padding: 0 2vw;
  
    align-self: center;
    justify-self: center;
    color: color.$light1;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2vw;
    }

    a {
      color: color.$light1;
    }

    li {
      place-self: center;
      min-width: max-content;
    }

    .UserDisplay {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "logged-label" "username";
      height: fit-content;
      place-self: center;
      text-align: center;

      label {
        grid-area: logged-label;
        color: color.$light1;
      }

      span {
        grid-area: username;
      }
    }
  }

  .Menu {
    display: none;
    visibility: hidden;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

}

@media screen and (max-width: 600px) {
  .HeaderContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu user";

    .HeaderNav {
      display: none;
    }

    .HeaderLogo {
      display: none;
    }
  
    .Menu {
      display: grid;
      grid-area: menu;
      visibility: visible;
    }
  }
}