@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

@import "../Menu/Menu.module.scss";
@import "../Generics/Buttons/ButtonStyles.scss";

.Container {
  @include text-shadow;
  height: 100%;
  max-width: 100%;
  padding: 0 3vw;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "logo navigation user";
  column-gap: 3vw;

  background-color: color.$dark1;

  z-index: 3;

  .HeaderLogo {
    grid-area: logo;

    max-height: 2rem;

    place-self: center;
  }

  .HeaderNav {
    grid-area: navigation;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 3vw;

    align-items: center;
    justify-content: left;

    li {
      max-width: max-content;
    }

    a {
      padding: 0.5rem 2rem;
    }
  }

  .HeaderAccount {
    @include font.nav;
    grid-area: user;

    display: grid;
    grid-auto-columns: 1fr;
  
    align-self: center;
    justify-self: center;
    color: color.$light1;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2vw;
    }

    li {
      place-self: center;
      min-width: max-content;
    }

    .UserDisplay {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "logged-label" "username";
      column-gap: 0.5rem;
      height: fit-content;
      width: fit-content;
      place-self: center;
      text-align: center;

      label {
        grid-area: logged-label;
      }

      span {
        grid-area: username;
      }
    }
  }

  .Menu {
    display: none;
    visibility: hidden;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .HeaderContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu user";

    .HeaderNav {
      display: none;
    }

    .HeaderLogo {
      display: none;
    }
  
    .Menu {
      display: grid;
      grid-area: menu;
      visibility: visible;
    }
  }
}