@import "../../styles/globals.scss";

.Footer {
  @include blurring;

  grid-area: 3 / 1 / end / end;

  min-height: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "copyright . links";

  align-content: center;

  .Copyright{
    @include text-shadow;
    color: $primary-color;
    grid-area: copyright;
  }

  .Links{
    @include text-shadow;
    @include hyperlink-text;
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      padding: 0 1vw;
      color: $primary-color;
    }
  }

  z-index: 10;
}
