@import "../../styles/globals.scss";

.MapView {
  display: grid;
  
  grid-area: 1 / 1 / 3 / end;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr min-content;
  grid-template-areas: 
    "header"
    "main-content"
    "info";

  height: 100%;
  width: 100%;

  z-index: 1;
}

.Map {
  grid-area: 1 / 1 / end / end;
  z-index: 1;
}

.ModalTabs {
  grid-area: main-content;
  position: relative;
  grid-auto-rows: auto;
  z-index: 2;
}

.Modals {
  grid-area: main-content;
}

.InfoFooter {
  @include blurring;
  @include info-font;
  @include text-shadow;

  grid-area: info;
  color: $primary-color;

  z-index: 4;
}