@use "../../styles/colors" as color;
@use "../../styles/mixins" as *;

.Tab {
  @include blurring;
  @include button-font;
  @include text-shadow;

  border-radius: 0 10px 10px 0;
  box-shadow: 1px 2px 1px hsla(0, 0%, 0%, 0.75);

  color: color.$primary;

  padding: 1rem 0.25rem;
  border-style: none;

  min-width: 100px;
  max-height: 40px;

  display: grid;

  grid-template-columns: 3fr 1fr;
  grid-template-areas: "tab-label tab-arrow";

  align-content: center;

  .Arrow {
    align-self: center;
  }
}

.Tab:hover {
  color: color.$tertiary;
  cursor: pointer;
}