@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.Planning {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "properties" "separator" "results";
  row-gap: 1rem;
  height: 100%;

  .PropertiesGroup {
    display: grid;
    grid-area: properties;
    grid-auto-rows: max-content;
    row-gap: 1rem;
    grid-template-columns: 1fr;

    .Selected {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "properties-label selected";

      label {
        grid-area: properties-label;
      }
    }

    .SliderProp {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "properties-label properties-output"
        "modifier modifier";

      .range {
        grid-area: modifier;
      }

      .output {
        grid-area: properties-output;
        width: fit-content;
      }

      label {
        grid-area: properties-label;
      }
    }
  }

  .Separator {
    @include separator-style;
    grid-area: separator;
    width: 95%;
  }

  .ResultsGroup {
    display: grid;
    grid-area: results;

    grid-auto-rows: max-content;
    row-gap: 1rem;
    grid-template-columns: 1fr;

    .Results {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "results-label results-output";

      label {
        grid-area: results-label;
      }

      .output {
        place-self: center;
        grid-area: results-output;
      }
    }
  }

  .output {
    color: color.$dark1;
    background-color: color.$light1;
    border: 3px solid color.$light2;
    border-radius: 10px;
    padding: 0.5rem;
  }

  h2 {
    @include font.header-2;
    margin: 0;
  }
}