
@import "../../styles/globals.scss";

.Tab {
  @include blurring;
  @include drop-shadow;

  max-width: 160px;
  max-height: 50px;

  margin: 2vh 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "tab-label tab-arrow";

  z-index: 3;
}

button {
  @include button-font;
  @include text-shadow;
  @include button-behavior;

  border-radius: 0 10px 10px 0;

  color: $primary-color;
  grid-area: tab-label;

  padding: 15px 5px;
  border-style: none;
}

.Arrow {
  @include button-font;
  @include text-shadow;

  grid-area: tab-arrow;
  color: $primary-color;
  padding-left: 10px;
  place-self: center;
}