
$light1: hsl(0, 0%, 100%);
$light1-disabled: hsl(0, 0%, 70%);
$light2: hsl(190, 70%, 50%);
$light2-disabled: hsl(190, 70%, 20%);
$danger: hsl(0, 60%, 45%);
$danger-disabled: hsl(0, 60%, 25%);
$neutral: hsl(200, 3%, 50%);
$dark1: hsl(200, 3%, 22%);
$dark2: hsl(22, 30%, 32%);
$accent1: hsl(45, 100%, 50%);
$accent2: hsl(346, 100%, 75%);
$bg-semitransparent: rgba(0, 0, 0, 0.75);
