@use "../../styles/colors" as color;
@use "../../styles/fonts" as font;
@use "../../styles/mixins" as *;

.PrimaryButton {
  @include font.button;
  @include button-behavior;
  @include drop-shadow;
  @include text-shadow;

  color: color.$primary;
  background-color: color.$secondary;

  text-align: center;
  padding: 0.75rem;

  border-style: none;
  border-radius: 10px;
};

.ExitButton {
  @include drop-shadow;
  @include button-behavior;

  button {
    @include font.button;
    @include text-shadow;

    color: color.$primary;
    background-color: color.$secondary;

    padding: 5px 10px;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;
  }
};

.Undecorated {
  a:hover {
    cursor: pointer;
  }
}
