@import "../../styles/globals.scss";

.ExitButton {
  @include drop-shadow;

  button {
    @include button-font;
    @include text-shadow;

    color: $primary-color;
    background-color: $secondary-color;

    padding: 5px 10px;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;
  }

  @include button-behavior;
};