@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/mixins" as *;

.AircraftsView {
  @include main-component;
  position: relative;
  
  display: flex;
  flex-direction: column;

  max-width: 100%;
  padding: 0 15vw;
  row-gap: 1rem;
  padding-top: 1rem;
  z-index: 3;

  .SubHeader {
    grid-area: sub-header;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    padding: 1rem;
    height: min-content;
    width: 100%;
    border-bottom: 2px solid color.$light1;

    .Title {
      @include text-shadow;
      @include font.header-1;
      grid-area: title;
      color: color.$light1;
    }

    .Searchbar {
      align-self: center;
      border-radius: 5px;
      min-width: 15rem;
    }

    .Dropdown {
      column-gap: 1rem;
      align-self: center;
      min-width: 10rem;
    }

    .CreateNew {
      place-self: center;
      min-width: 11rem;
      
      a {
        padding: 0.5rem 0.5rem;
      }
    }
  }

  .Content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "filters cards";
    width: 100%;
    column-gap: 1rem;

    .Filters {
      grid-area: filters;
    }
  
    .Cards {
      grid-area: cards;

      display: flex;
      flex-direction: column;
      row-gap: 1rem;
  
      z-index: 4;
    }
  }

  .Pagination {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AircraftsView {
    padding: 0 0;

    .SubHeader {
      grid-template-columns:1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "title buttons"
        "search-bar search-bar" ;
    }
  }
}