@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/separators" as separator;
@use "../../../styles/components/buttons" as button;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/mixins" as *;

.SaveOptions {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    @include button.decorated;
    background-color: color.$light2;
    color: color.$light1;
  }

  button:disabled {
    @include button.decorated;
    background-color: color.$light2;
    color: color.$light1;
  }
}
