@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/boxes" as box;

.Dropdown-Container {
  grid-area: dropdown;
  align-self: center;
  z-index: 5;
  
  .Dropdown__control {
    @include box.light;
    color: color.$dark1;
    border-radius: 5px;
    padding: 0;

    .Dropdown-placeholder {
      color: color.$neutral;
    }
  
    .Dropdown__value-container {
      color: color.$light1;
    }
  
    .Dropdown__indicators {
      svg {
        color: color.$neutral;
      }
    }
  }

  .Dropdown__menu {
    color: color.$dark1;
  }
}
