@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/boxes" as box;

.Toggle {
  display: flex;
  flex-direction: row;

  .checkmark {
    height: 1rem;
  }

  label {
    @include font.main;
    @include text-shadow;
    text-align: center;
  }
}