@use "../../../styles/colors" as color;
@use "../../../styles/fonts" as font;
@use "../../../styles/components/boxes" as box;
@use "../../../styles/mixins" as *;

// TODO: make flex
.FormGroup {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "field-label field-input validation";

  label {
    @include font.main;
    color: color.$light1;
    grid-area: field-label;

    text-align: center;
    justify-self: start;
    align-self: center;
    height: max-content;
    min-width: max-content;
  }

  span {
    @include font.error-alert;
    grid-area: validation;
    justify-self: start;
    align-self: center;
  }

  input {
    @include box.light;
    grid-area: field-input;

    height: 1rem;
    width: 30vw;
    align-self: center;
    justify-self: center;
  }

  input:disabled {
    @include box.light-disabled;
  }

  select {
    @include box.light;
    grid-area: field-input;

    height: 2.5rem;
    width: 33vw;
    align-self: center;
    justify-self: center;
  }

  select:disabled {
    @include box.light-disabled;
  }
}